SECRET_KEY=super_mega_ultra_secret_stuff

SYNTH_USER_1_USERNAME=person
SYNTH_USER_1_PASSWORD=password
SYNTH_USER_1_DISPLAY_NAME=person_name

SYNTH_USER_2_USERNAME=person
SYNTH_USER_2_PASSWORD=password
SYNTH_USER_2_DISPLAY_NAME=person_name